* {
    border: 1px solid red;;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    text-align: center;
    width: 100%;
}
.content {
    text-align: center;
    height: 100px;
}

.score {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

.weapon img{
    max-width: 200px;
}

.footer {
    width: 100%;
    margin-top: auto;
    text-align: center;
}